---
import { skills } from "@cv";
import Section from "../Section.astro";
---

<Section title="Habilidades">
  <ul class="flex flex-wrap gap-2">
    {
      skills.map(({ name }) => {
        return (
          <li>
            <h3 class="text-black opacity-95 font-semibold text-sm">{name}</h3>
          </li>
        );
      })
    }
  </ul>
  <Section />
</Section>
